html
    head
        title= title
    style
        include logged.css
    body
        h1= message
        div(class="header")
            form(action="/" method="GET")
                input(type="hidden" name="_csrf" value=token)
                input(type="submit", name="logout", value="Log out")

        h1="the most expensive memes"
        ul
            each meme in memes
                li
                    a(href="./history/" + meme.url)
                        img(src="./assets/" + meme.url)
        div(class='pageViews')="you have already visited " + pageViews + " pages at the market"